<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@IconName" Class="mr-3" />@Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>@ConfirmationText</p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Ano</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel" Class="px-10">Ne</MudButton>
    </DialogActions>
</MudDialog>
@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = new();

    [Parameter]
    public string? IconName { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? ConfirmationText { get; set; }



    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}