
@inject IViewActivityByNameUseCase ViewActivityByNameUseCase

<table class="table">
    <thead>
    <tr>
        <th>Název</th>
            <th>Popis</th>
            <th>Počet osob min.</th>
            <th>Počet osob max.</th>
            <th>Doba trvání min.</th>
            <th>Doba trvání max.</th>
            <th>Štítky.</th>
            <th>Vybavení</th>
            <th></th>
    </tr>
    </thead>
    <tbody>
        <ActivityListItemComponent Activities="_activities"/>
    </tbody>
</table>


@code {
    private List<Activity> _activities = new List<Activity>();

    [Parameter]
    public string SearchText { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _activities = (await ViewActivityByNameUseCase.ExecuteAsync(SearchText)).ToList();
    }
}
