@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Mvc

<button @onclick="DownloadTextFile">Download Text File</button>

@code {
    private async Task DownloadTextFile()
    {
        var text = "Hello, world!";

        var memoryStream = new MemoryStream();
        var streamWriter = new StreamWriter(memoryStream);
        await streamWriter.WriteAsync(text);
        await streamWriter.FlushAsync();
        memoryStream.Position = 0;

        var fileName = "example.txt";
        var mimeType = "text/plain";
        var fileStreamResult = new FileStreamResult(memoryStream, mimeType)
            {
                FileDownloadName = fileName
            };

        NavigationManager.NavigateTo(fileStreamResult.FileDownloadName, true);
    }
}