<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Trénink</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">yyy</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">        
        <a class="nav-link" routerLink="./trainings" routerLinkActive="active">Tréninky</a>
        <a class="nav-link" routerLink="./activities" routerLinkActive="active">Aktivity</a>
        <a class="nav-link" routerLink="./tags" routerLinkActive="active">Štítky</a>
        <a class="nav-link" routerLink="./equipments" routerLinkActive="active">Vybavení</a>
        <a class="nav-link" routerLink="./places" routerLinkActive="active">Místa</a>
        <a class="nav-link" routerLink="./teams" routerLinkActive="active">Týmy</a>
        <a class="nav-link" routerLink="./ageGroups" routerLinkActive="active">Věkové kategorie</a>
        <a class="nav-link" routerLink="./users">Uživatelé</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>