<div id="rc-@_id" style="vertical-align:middle;">
    <input name="slider" type="range" min="@MinValue" max="@MaxValue" @bind="@InputValue" @bind:event="oninput" style="padding: 0;
    margin: 5px 0 5px 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 1em;" />
</div>
@code
{
    int _value = 0;
    [Parameter] public int Width { get; set; } = 200;
    [Parameter] public int Height { get; set; } = 15;
    [Parameter] public int Value { get; set; }
    [Parameter] public int MinValue { get; set; } 
    [Parameter] public int MaxValue { get; set; } = 100;

    private int InputValue{
        get => _value;
        set
        {
            if (_value.Equals(value))
                return;
            _value = value;
            
            ValueChanged.InvokeAsync(_value);
        }
    }
    
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
    readonly string _id = Guid.NewGuid().ToString().Replace("-", "")[15..];

    protected override void OnInitialized()
    {
        InputValue = Value;
    }
}