@inherits LayoutComponentBase

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudThemeProvider Theme="_myCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<PageTitle>Florbalový Trénink</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary Context="Exception" @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <ErrorDialog OnRecover="RecoverErrorBoundary" Exception="@Exception"/>
                </ErrorContent>
                
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {

    private ErrorBoundary? _errorBoundary;

    private void RecoverErrorBoundary()
    {
        _errorBoundary?.Recover();
    }

    readonly MudTheme _myCustomTheme = new()
        {
            Typography = new Typography()
            { 

                Default = new Default()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "0.6rem",
                    FontWeight = 400,
                    LineHeight = 0.6,
                    LetterSpacing = ".006em"
                }
            },
            PaletteLight = new PaletteLight()
            {
                
                Primary = Colors.Shades.Black,
                Secondary = Colors.Gray.Default,
                Tertiary = Colors.Shades.White
            }
        };    

    

}