@inherits LayoutComponentBase

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudThemeProvider Theme="_myCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<PageTitle>Trénink</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary @ref="_errorBoundary">
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {

    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }



    readonly MudTheme _myCustomTheme = new()
        {
            Typography = new Typography()
            { 

                Default = new Default()
                {
                    FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "0.6rem",
                    FontWeight = 400,
                    LineHeight = 0.6,
                    LetterSpacing = ".006em"
                }
            },
            PaletteLight = new PaletteLight()
            {
                
                Primary = Colors.Shades.Black,
                Secondary = Colors.Gray.Default,
                Tertiary = Colors.Shades.White
            },
            

            // LayoutProperties = new LayoutProperties()
            // {
            //     DrawerWidthLeft = "160px",
            //     DrawerWidthRight = "300px"
            // }

        };
}