<div class="top-nav">
    <nav class="navbar navbar-expand-xxl ps-3 navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=""> 
                <img src="/logo_white.png" width="80" alt="Logo" class="d-block " /> <strong>Flo</strong>rbalový <strong>Tr</strong>énink
            </a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="navbar-nav me-auto mb-2 mb-xxl-0">
                    <div class="nav-item"> 
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-house fa-xl" aria-hidden="true"></span><span class="mx-3">  Přehled</span>
                        </NavLink>
                    </div>
            
                    <div class="nav-item">
                        <NavLink class="nav-link" href="trainings">
                            <span class="fa-solid fa-clipboard fa-xl" aria-hidden="true"></span><span class="mx-3"> Tréninky</span>
                        </NavLink>
                    </div>
            
                    <div class="nav-item">
                        <NavLink class="nav-link" href="appointments">
                            <span class="fa-solid fa-calendar-days fa-xl" aria-hidden="true"></span><span class="mx-3"> Události</span>
                        </NavLink>
                    </div>
            
                   <div class="nav-item">
                        <NavLink class="nav-link" href="activities">
                            <span class="fa-solid fa-person-walking fa-xl" aria-hidden="true"></span><span class="mx-3"> Aktivity</span>
                        </NavLink>
                    </div>
            
                   <div class="nav-item">
                        <NavLink class="nav-link" href="drawings">
                            <span class="fa-solid fa-person-running fa-xl" aria-hidden="true"></span><span class="mx-3"> Kreslení</span>
                        </NavLink>
            
                    </div>
            
                    <div class="nav-item">
                        <NavLink class="nav-link" href="clubs">
                            <span class="fa-solid fa-people-roof fa-xl" aria-hidden="true"></span><span class="mx-3"> Kluby</span>
                        </NavLink>
                    </div>
            
                    <div class="nav-item">
                        <NavLink class="nav-link" href="Teams">
                            <span class="fa-solid fa-people-group fa-xl" aria-hidden="true"></span><span class="mx-3"> Týmy</span>
                        </NavLink>
                    </div>
            
                    <div class="nav-item">
                        <NavLink class="nav-link" href="members">
                            <span class="fa-solid fa-users fa-xl" aria-hidden="true"></span><span class="mx-3"> Členové</span>
                        </NavLink>
                    </div>
            
                    
                <div class="nav-item">
                <NavLink class="nav-link" @onclick="() => _expandSubNav = !_expandSubNav">
                    <span class="fa fa-gear fa-xl" aria-hidden="true"></span><span class="mx-3"> Nastavení </span>
                </NavLink>
                    @if (_expandSubNav)
                    {
                        <div class="nav-item">
                            <NavLink class="nav-link" href="equipments">
                                <span class="fa-solid fa-toolbox fa-xl" aria-hidden="true"></span><span class="mx-3"> Vybavení</span>
                            </NavLink>
                        </div>

                        <div class="nav-item">
                            <NavLink class="nav-link" href="tags">
                                <span class="fa-solid fa-tag fa-xl" aria-hidden="true"></span><span class="mx-3"> Štítky</span>
                            </NavLink>
                        </div>

                        <div class="nav-item">
                            <NavLink class="nav-link" href="places">

                                <span class="fa-solid fa-location-dot fa-xl" aria-hidden="true"></span><span class="mx-3"> Místa</span>
                            </NavLink>
                        </div>
                    }
                </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

@code {
                private bool _expandSubNav;
    private bool _collapseNavMenu = true;
    
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    

    private string NavMenuCssClass => _collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    

}
