@page "/"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject IViewClubsAllSimpleUseCase ViewClubsAllSimpleUseCase
@inject ProtectedLocalStorage LocalStorage

@if (_clubs.Any())
{

    @if (_club.Id != 0)
    {
        <h3>Vybraný klub: @_club.Name</h3>
    }
    else
    {

        <MudSelect T="ClubDto" Value="_club" ToStringFunc="@_converter" SelectedValuesChanged="(e) => SelectClubs(e.ToList())" Label="Vyber si klub" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Clearable>

            @foreach (var club in _clubs)
            {
                <MudSelectItem Value="@club">@club.Name</MudSelectItem>
            }
        </MudSelect>
    }
}

@code
{
    private IEnumerable<ClubDto> _clubs = new List<ClubDto>();

    
    private ClubDto _club = new ClubDto();

    readonly Func<ClubDto, string> _converter = p => p.Name;

    protected override async Task OnInitializedAsync()
    {
        _clubs = await ViewClubsAllSimpleUseCase.ExecuteAsync();

        var clubId = await LocalStorage.GetAsync<int>("ClubId");

        _club = _clubs.FirstOrDefault(c => c.Id == clubId.Value) ?? new ClubDto();

    }

    private async Task SelectClubs(List<ClubDto> clubs)
    {
        _club = clubs.FirstOrDefault()?? new ClubDto();


        if (clubs.Any())
        {
            await LocalStorage.SetAsync("ClubId", clubs.First().Id).ConfigureAwait(false);
        }
    }


    
}